# Корнём считается расположение файла .gitignore
# Игнор-лист файлов проекта
# ---- КОНКРЕТНЫЕ ФАЙЛЫ ----
chessviz
TEST.html
output.*
chessviz

# ---- ОТБОТР ПО РАСШИРЕНИЮ ----
*.log
*.o
*.json
\.vscode*
*.bin
*.ipch

# ---- ДИРРЕКТОРИИ ----
bin/*
build/*

*.html
