# Корнём считается расположение файла .gitignore
# Игнор-лист файлов проекта
# ---- КОНКРЕТНЫЕ ФАЙЛЫ ----
chessviz
TEST.html
input.*
output.*
chessviz

# ---- ОТБОТР ПО РАСШИРЕНИЮ ----
*.log
*.o
*.json
\.vscode*
*.txt
*.bin
*.ipch

# ---- ДИРРЕКТОРИИ ----
bin/
build/
