# Тут указывается используемый в проекте язык программирования, можно указать несколько
language: c
dist: xenial
compiler: clang
sudo: false
script: 
 - git ls-files src/*.c | xargs clang-format -i src/*.c 
 - git diff --exit-code
 - make
 - make test
 - ./bin/test
 

 