
html{
    background-color: #111111;
    background-image: url(resourse/dot.png);
    padding:0;
    margin: 0;
}

body {
    padding:0;
    margin: 0;
}

.interface{
    background: rgba(50, 50, 50, .9);
    margin: 90px;
    padding: 10px;
    border: 4px double rgb(78, 61, 61);
    border-style: solid;
    border-radius: 20px;
}

.menu{
    display: inline-block;
    vertical-align: top;
}

.titl{
    color: antiquewhite;
    padding-left: 50px;
    text-align: center;
    font-size: 50px;
}

.Chessboard{
    display: inline-block;
    background: #111111;
    width: 412px;
    height: 412px;
    border: 4px double black;
    border-style: solid;
    padding: 10px;
}

.square{
    margin: 0px, 0px ,0px, 0px;
    padding: 0px, 0px, 0px, 0px;
    border: 0px double black;
    width: 48px;
    height: 48px;
    display: inline-block;
}

.white{
 background-color: #bFbFbF;
}

.black{
    background-color: #313131;
}

.figure:hover{
    position: absolute;
    width: 50px;
    height: 50px;
}