
html{
    background-size: cover;
    background-image: url(resourse/orig.jpeg);
    padding:0;
    margin: 0;
}

body {
    padding:0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow:hidden;
}

.interface{
    background: rgba(111, 121, 110, 0.185);
    padding: 15px;
    margin-left: 5vw; 
    width: 800px;
    margin-top: 10vh;
    position: relative;
}

.menu{
    display: inline-block;
    vertical-align: top;
}

.titl{
    color: antiquewhite;
    padding-left: 50px;
    text-align: center;
    font-size: 50px;
}

.Chessboard{
    display: inline-block;
    background: #111111;
    width: 384px;
    height: 384px;
    border: 4px double black;
    border-style: solid;
}

.square{
    float: left;
    margin: 0px, 0px ,0px, 0px;
    padding: 0px, 0px, 0px, 0px;
    border: 0px double black;
    width: 48px;
    height: 48px;
    display: inline-block;
}

.white{
 background-color: #bFbFbF;
}

.black{
    background-color: #313131;
}

.figure:hover{
    position: absolute;
    width: 50px;
    height: 50px;
}

.sidebar{
    background-color: rgba(0, 0, 0, 0.949);
    display: inline-block;
    width: 20vw;
    height: 100vh;
    float: left;
}

.content{
    background-color: rgba(37, 37, 37, 0.849);
    display: inline-block;
    float: left;
    height: 100vh;
    width: 78vw;
    overflow: hidden;
}

.button{
    float: left;
    border: 4px double #66FF66;
    border-style: solid;
    border-radius: 5em;
    padding: 10px;
    margin-left: 30px;
    margin-top: 100px;
    font-size: 49px;
    text-decoration: none;
    color: aliceblue;
    background-color: #65883879;
    text-align: center;
}

.button:hover{
    font-size: 50px;
}

.shadow {
    box-shadow: 12px 12px 35px -4px #000000;
   }

.grayy{
    float: left;
    width: 5vw;
    height: 100vh;
    background: #313131c7;
}
.blacky{
    height: 100vh;
    float: left;
    width: 15vw;
}